# Scoreboard

In [23]:
import os
import pandas as pd

f = max([d for d in os.listdir("csvfiles/")])
data = pd.read_csv("csvfiles/" + f)

In [24]:
data

    algo     function  avg_cost  avg_time
0  Swarm       sphere  0.106129  1.243941
1  Swarm       ackley  9.078588  2.017482
2  Swarm     griewank  1.235058  2.257634
3  Swarm    rastrigin  2.667294  1.458357
4  Swarm  weierstrass  0.576388  9.118784